
@media(max-width:1400px) {
    .sec_box{
        flex-wrap: wrap;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }
    .sec_card{
        max-width: 350px;
        width: 100%;
    }
}
@media(max-width:1140px) {
    .nav_logo{
        margin-top: 18px;
    }
    .nav_logo img,
    .foot_logo img{
        width: 140px;
    }
    .nav_link{
        font-size: 17px;
        line-height: 20px;
    }
    .intro .container img{
        max-width: 1110px;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 30px;
    }
    .sec_box{
        justify-content: center;
    }
    .sec_card{
        max-width: 330px;
        gap: 7px;
    }
    .sec_title{
        font-size: 18px;
        line-height: 21px;
        margin: 0 13px;
    }
    .sec_text{
        font-size: 15px;
        line-height: 17px;
        margin: 0 13px;
    }
    #first{
        padding-bottom: 13px;
    }
    #second{
        padding-top: 13px;
    }
    #thirty{
        padding-bottom: 13px;
    }
    #fourty{
        padding-top: 13px;
    }
    .title{
        margin: 35px auto;
        font-size: 21px;
        line-height: 24.39px;
    }
    .news_box{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .news_box img{
        max-width: 550px;
        width: 100%;
    }
    .news_right{
        gap: 25px;
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .news_title{
        text-align: center;
        font-size: 21px;
        line-height: 24.39px;
    }
    .news_text{
        text-align: justify;
        font-size: 17px;
        line-height: 20px;
    }
    .foot{
        margin-top: 45px;
    }
    .foot_logo{
        margin: 24px 0;
    }
    .foot_link{
        font-size: 17px;
        line-height: 20px;
    }
}
@media(max-width:1100px) {
    .sec_card{
        max-width: 320px;
    }
    .sec_title{
        font-size: 17px;
        line-height: 20px;
        margin: 0 11px;
    }
    .sec_text{
        font-size: 14px;
        line-height: 16px;
        margin: 0 11px;
    }
}
@media(max-width:1050px){
    .sec_card{
        max-width: 315px;
    }
}
@media(max-width:1000px) {
    .nav_logo{
        margin-top: 15px;
    }
    .nav_link{
        font-size: 16px;
        line-height: 19px;
    }
    .intro .container img{
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .sec_card{
        max-width: 310px;
        gap: 6px;
    }
    .title{
        margin: 30px auto;
        font-size: 20px;
        line-height: 23px;
    }
    .news_box{
        gap: 20px;
    }
    .news_right{
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .news_title{
        font-size: 20px;
        line-height: 23px;
    }
    .news_text{
        font-size: 16px;
        line-height: 19px;
    }
    .foot{
        margin-top: 40px;
    }
    .foot_logo{
        margin: 20px 0;
    }
    .foot_link{
        font-size: 16px;
        line-height: 19px;
    }
}
@media(max-width:950px) {
    .nav_logo img,
    .foot_logo img{
        width: 130px;
    }
    .nav_list{
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        padding: 80px 60px;
        text-align: center;
        gap: 30px;
        background-color: #3A3838;
        height: 100%;
        transform: translateX(100%);
    }
    .nav_link{
        color: #fff;
    }
    .close{
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .menu{
        display: block;
    }
    #checkbox:checked~.nav_list{
        transform: translateX(0);
    }
    .sec_card{
        max-width: 300px;
    }
    .sec_title{
        font-size: 16px;
        line-height: 19px;
        margin: 0 10px;
    }
    .sec_text{
        font-size: 13px;
        line-height: 15px;
        margin: 0 10px;
    }
    .foot_box{
        flex-direction: column;
    }
}
@media(max-width:900px) {
    .sec_card{
        max-width: 290px;
    }
}
@media(max-width:750px) {
    .nav_logo{
        margin-top: 12px;
    }
    .nav_logo img,
    .foot_logo img{
        width: 120px;
    }
    .nav_list{
        padding: 75px 55px;
        gap: 25px;
    }
    .nav_link{
        font-size: 15px;
        line-height: 18px;
    }
    .menu img,
    .close img{
    width: 35px;
    }
    .intro .container img{
        margin-top: 8px;
        margin-bottom: 20px;
    }
    .sec_box{
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: start;
    }
    .sec_card{
        max-width: 270px;
        gap: 5px;
    }
    .sec_title{
        font-size: 15px;
        line-height: 18px;
        margin: 0 8px;
    }
    .sec_text{
        font-size: 12px;
        line-height: 14px;
        margin: 0 8px;
    }
    .title{
        margin: 25px auto;
        font-size: 19px;
        line-height: 22px;
    }
    .news_box{
        gap: 15px;
    }
    .news_right{
        gap: 15px;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .news_title{
        font-size: 19px;
        line-height: 22px;
    }
    .news_text{
        font-size: 15px;
        line-height: 18px;
    }
    .foot{
        margin-top: 30px;
    }
    .foot_logo{
        margin: 10px 0;
    }
    .foot_link{
        font-size: 15px;
        line-height: 18px;
    }
}
@media(max-width:600px) {
    .foot_list{
        max-width: 700px;
        width: 100%;
        overflow-x: scroll;
        justify-content: start;
    }
}
@media(max-width:500px) {
    .nav_logo{
        margin-top: 10px;
    }
    .nav_logo img,
    .foot_logo img{
        width: 100px;
    }
    .nav_list{
        padding: 60px 40px;
        gap: 15px;
    }
    .nav_link{
        font-size: 14px;
        line-height: 17px;
    }
    .menu img,
    .close img{
    width: 25px;
    }
    .intro .container img{
        margin-top: 5px;
        margin-bottom: 13px;
    }
    .sec_card{
        max-width: 250px;
        gap: 4px;
    }
    .sec_title{
        font-size: 14px;
        line-height: 17px;
        margin: 0 6px;
    }
    .sec_text{
        font-size: 11px;
        line-height: 13px;
        margin: 0 6px;
    }
    .title{
        margin: 20px auto;
        font-size: 18px;
        line-height: 21px;
    }
    .news_right{
        gap: 10px;
        padding-top: 0;
        padding-bottom: 10px;
    }
    .news_title{
        font-size: 18px;
        line-height: 21px;
    }
    .news_text{
        font-size: 14px;
        line-height: 16px;
    }
    .foot{
        margin-top: 20px;
    }
    .foot_logo{
        margin: 8px 0;
    }
    .foot_link{
        font-size: 14px;
        line-height: 17px;
    }   
}